* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: 'Bangers', cursive;
  color: #CC0000;
  display: flex;
  flex-direction: row-reverse;
  background: #fff5e6;
}

div.grid {
  width: 960px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

div.grid-item {
  width: 79px;
  height: 80px;
  /* border: 1px dashed black; */
}

div.grid-item.player {
  background-image: url('../assets/drake-sprite-two.png');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}

div.grid-item.enemy {
  background-image: url('../assets/khaled-sprite-two.jpg');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  transition: move 1s ease;
}

div.grid-item.cash {
  background-image: url('../assets/cash-sprite.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
}

div.grid-item.key {
  background-image: url('../assets/key-sprite.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
}


.aside {
  display: flex;
}

h1 {
  font-size: 70px;
  margin-right: 20px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 30px;
}

/* .intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.intro h1 {
  font-size: 100px;
}

.intro button {
  width: 200px;
  height: 100px;
  background: #CC0000;
  color: #fff5e6;
  border-radius: 10px;
  font-size: 50px;
  font-family: 'Bangers', cursive;
} */
