* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
}

div.grid {
  width: 1040px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  /* display: flex; */
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

div.grid-item {
  width: 80px;
  height: 80px;
  border: 1px dashed black;
}

div.grid-item.player {
  background-image: url('../assets/drake-sprite-two.jpg');
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}

div.grid-item.enemy {
  background-image: url('../assets/khaled-sprite-two.jpg');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  transition: move 1s ease;
}

div.grid-item.cash {
  background-image: url('../assets/cash-sprite.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
}

div.grid-item.key {
  background-image: url('../assets/key-sprite.png');
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
}

section {
  display: flex;
  justify-content: flex-end;
}

section > div {
  display: inline-block;
  justify-content: flex-end;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 60px;
  color: #FF80D5;
  margin-right: 20px;
}
