* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

div.grid {
  width: 1040px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 80px;
  height: 80px;
  border: 1px dashed black;
}

div.grid-item.player {
  background-image: url('../assets/drake-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.enemy {
  background-image: url('../assets/khaled-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
